<main role="main" class="container">
  <p class="alert alert-info" role="alert"><%= get(@flash, :info) %></p>
  <p class="alert alert-danger" role="alert"><%= get(@flash, :error) %></p>
  <%= @inner_content %>
</main>
